/ToStraight.class
/FourToRoyalFlush.class
/FourToStraight.class
/FourToStraightFlush.class
/ThreeToRoyalFlush.class
/ThreeToStraight.class
/ThreeToStraightFlush.class
/ThreeToStraightFlushOne.class
/ToStraightFlush.class
/AKQJUnsuited.class
/FourToOutsideStraight.class
/FourToInsideStraightWithHighCards.class
/FourToInsideStraightWithNoHighCards.class
/FourToInsideStraightWithOneHighCards.class
/FourToInsideStraightWithThreeHighCards.class
/FourToInsideStraightWithTwoHighCards.class
/ThreeToStraightFlushTwo.class
