/Four24Recognizer.class
/Four5KRecognizer.class
/FourAcesRecognizer.class
/FourOfAKindRecognizer.class
/JacksOrBetterRecognizer.class
/OfAKindRecognizer.class
/RangedFourOfAKindRecognizer.class
/ThreeOfARecognizer.class
/TwoOfAKindRecognizer.class
